<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FoodServerBaseUrl" value="http://tegster.asuscomm.com:8080/api/"/> 
<!--<add key="FoodServerBaseUrl" value="http://localhost:8080/api/"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
