@page
@model Food.Server.WebApi.Pages.IndexModel
@{
    ViewData["Title"] = "Dishes";
}

<h2>Dishes</h2>

<ul class="list-group">
    @foreach (var dish in Model.Dishes)
    {
        <li class="list-group-item">@dish.Name</li>
    }
</ul>